# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

build/
backend/node_modules/
backend/*.log
backend/logs/
public/badge/generated/
backend/config/*.local.js
backend/config/*.env
*.dump
*.sql
*.tgz
*.tsbuildinfo
coverage/
.ipynb_checkpoints/
package-lock.json
.next/
Thumbs.db
backend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
backend\.env